* {
  font-family: Helvetica;
}

.add:hover,
.edit:hover {
  background-color: rgb(0, 0, 158);
  cursor: pointer;
}

.delete:hover {
  background-color: rgb(134, 11, 11);
  cursor: pointer;
}

#colors:hover {
  /* background-color: rgb(226, 226, 226); */
  cursor: pointer;
}

#notes {
  border: 1px solid rgb(231, 231, 231);
  padding: 16px;
  max-width: 75%;
  margin: auto;
  background-color: rgb(231, 231, 231);
}

.note {
  margin-top: 16px;
}

.inputs {
  margin-bottom: 16px;
}

.text {
  clear: right;
  background: rgb(125, 191, 235);
  padding: 16px;
  border-radius: 4px;
  border: 1px solid black;
  width: calc(100% - 250px);
  margin-bottom: 10px;
}

.buttons {
  clear: both;
}

input {
  height: 32px;
  border: 1px solid black;
  padding: 0 8px;
  border-radius: 6px;
  margin-bottom: 16px;
  width: calc(50% - 152px);
}

button,
select {
  height: 32px;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 4px 16px;
  color: #fff;
}

.add,
.edit {
  background: #3399ff;
}

.delete {
  background: red;
}

button:not(.edit),
select,
#body {
  margin-left: 8px;
}

select {
  color: black;
}

#colors {
  color: solid black;
}

/* make the notes float left and the buttons clear left so the buttons will go below them  */
